@import url(./normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

// === MIXIN ===
@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
    font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
    padding: 0;
    margin: 0;
    list-style: none;
}

// === / MIXIN ===

// ===  FUNCTIONS ===

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

@function rem($num) {
    @return (strip-unit($num) / 16) * 1rem;
}

// === / FUNCTIONS ===

// === VARIABLES ===
$base: rem(4px);
// $breakpoint-xs-min:0;
$breakpoint-sm-min:576px;
$breakpoint-xs-max:$breakpoint-sm-min - 1px;
$breakpoint-md-min: 768px;
$breakpoint-sm-max: $breakpoint-md-min - 1px;
$breakpoint-lg-min: 992px;
$breakpoint-md-max: $breakpoint-lg-min - 1px;
$breakpoint-xl-min: 1200px;
$breakpoint-lg-max: $breakpoint-xl-min - 1px;
$breakpoint-xxl-min: 1400px;
$breakpoint-xl-max: $breakpoint-xxl-min - 1px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-xs: rem(10px);
$fs-sm: rem(12px);
$fs-ms: rem(14px);
$fs-md: rem(15px);
$fs-lg: rem(18px);
$fs-xlg: rem(24px);
$fs-xl: rem(36px);
$fs-xxl: rem(48px);

$pading-vertical-xs: $base * 5;
$pading-vertical-sm: $base * 15;
$pading-vertical: $base * 30;

$color-white: #fff;

$color-yellow-500: #ffc735;

// Cian
$color-cian-500: #35aaff;

// Red
$color-red-400: #ffd7d7;
$color-red-500: #ff3535;
$color-red-600: #d43f3f;

// Gray
$color-gray-50: #f5f8ff;
$color-gray-100: #c7d3ff;
$color-gray-200: #aeb8d0;
$color-gray-300: #adb4d2;
$color-gray-400: #8e96b7;
$color-gray-500: #8d96bd;
$color-gray-600: #7382a3;
$color-gray-700: #7a85ad;
$color-gray-800: #676f95;
$color-gray-900: #495274;

// Blue
$color-blue-50: #e9efff;
$color-blue-100: #6888ff;
$color-blue-200: #6188ff;
$color-blue-300: #5e80ff;
$color-blue-400: #5e81fe;
$color-blue-500: #4c85ff;
$color-blue-600: #5283ff;
$color-blue-700: #3a79ff;
$color-blue-800: #4074f8;
$color-blue-900: #3d4f9f;

$color-divider: $color-gray-100;

$transition: .2s;

// === / VARIABLES ===

// === COMMON ===

// html {
//     @media (max-width: $breakpoint-md-max) {
//         font-size: 14px;
//     }
//     @media (max-width: $breakpoint-sm-max) {
//         font-size: 10px;
//     }
// }

body {
    @include roboto;

    margin-top: $base*19;
    color: $color-gray-500;
}

.section-outer {
    padding: 0 20px;
    border-bottom: 1px solid $color-divider;
}

.section-inner {
    max-width: 900px;
    margin: 0 auto;

    &--wide {
        max-width: 1200px;
    }
}

.vertical-indent {
    &--xs {
        padding-top: $base*5;
        padding-bottom: $base*5;
    }

    &--s {
        padding-top: $base*15;
        padding-bottom: $base*15;
    }

    &--m {
        padding-top: $base*23;
        padding-bottom: $base*23;
    }

    &--l {
        padding-top: $base*30;
        padding-bottom: $base*30;
    }

    &--xl {
        padding-top: $base*43;
        padding-bottom: $base*43;
    }

    &--xxl {
        padding-top: $base*50;
        padding-bottom: $base*50;
    }

    @media (max-width: $breakpoint-md-max) {
        &--s {
            padding-top: $base*8;
            padding-bottom: $base*8;
        }

        &--m {
            padding-top: $base*11;
            padding-bottom: $base*11;
        }

        &--l {
            padding-top: $base*14;
            padding-bottom: $base*14;
        }

        &--xl {
            padding-top: $base*21;
            padding-bottom: $base*21;
        }

        &--xxl {
            padding-top: $base*24;
            padding-bottom: $base*24;
        }
    }

    @media (max-width: $breakpoint-xs-max) {
        &--s {
            padding-top: $base*5;
            padding-bottom: $base*5;
        }

        &--m {
            padding-top: $base*8;
            padding-bottom: $base*8;
        }

        &--l {
            padding-top: $base*11;
            padding-bottom: $base*11;
        }

        &--xl {
            padding-top: $base*16;
            padding-bottom: $base*16;
        }

        &--xxl {
            padding-top: $base*19;
            padding-bottom: $base*19;
        }
    }
}

.input {
    padding: $base*3 $base*4;
    font-size: $fs-sm;
    color: $color-gray-700;
    background: $color-blue-50;
    border: 1px solid transparent;
    border-radius: $base/2;

    &--size-lg {
        padding: $base*5 $base*15 $base*5 $base*5;
        border-radius: $base;
    }
}

.btn {
    @include quicksand;

    box-sizing: border-box;
    display: inline-block;
    padding: $base*3 $base*4;
    margin: 0;
    font-size: $fs-sm;
    font-weight: $fw-bold;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    background: none;
    border: 0;
    border-radius: $base/2;
    transition: $transition;

    &--size-lg {
        padding: $base*5 $base*15;
        border-radius: $base;
    }

    &--primary {
        color: $color-blue-700;
        background-color: $color-gray-100;

        &:hover {
            color: darken($color-blue-700, 5%);
            background-color: darken($color-gray-100, 5%);
        }

        &-inverted {
            color: $color-blue-700;
            background-color: $color-white;

            &:hover {
                color: darken($color-blue-700, 5%);
                background-color: darken($color-white, 5%);
            }
        }
    }

    &--secondary {
        color: $color-white;
        background-color: $color-blue-500;

        &:hover {
            color: darken($color-white, 5%);
            background-color: darken($color-blue-500, 5%);
        }
    }

    &--no-bg {
        color: $color-gray-300;
        border: 1px solid $color-gray-100;

        &:hover {
            color: darken($color-gray-300, 10%);
            border: 1px solid darken($color-gray-100, 10%);
        }
    }

    &--red {
        color: $color-red-600;
        background-color: $color-red-400;

        &:hover {
            color: darken($color-red-600, 5%);
            background-color: darken($color-red-400, 5%);
        }
    }

    &--dead {
        color: $color-gray-600;
        background-color: $color-gray-50;

        &:hover {
            color: darken($color-gray-600, 5%);
            background-color: darken($color-gray-50, 5%);
        }
    }
}

.btn-wrapper {
    margin-left: $base*11;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include quicksand;

    padding: 0;
    margin: 0;
    font-weight: $fw-regular;
}

span {
    font-weight: $fw-medium;
}

h2 {
    @include roboto;

    margin-bottom: $base * 4;
    font-size: $fs-xs;
    font-weight: $fw-medium;
    color: $color-blue-900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section-subtitle {
    @include quicksand;

    margin-bottom: $base * 7;
    font-size: $fs-xxl;
    font-weight: $fw-light;
    color: $color-blue-900;

    span {
        font-weight: $fw-medium;
    }
}

.ta-c {
    text-align: center;
}

.dots {
    @include list-null;

    display: flex;
    justify-content: center;
}

.swiper-pagination-bullet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $base*6;
    height: $base*6;
    cursor: pointer;

    &::before {
        display: block;
        width: $base*2;
        height: $base*2;
        content: '';
        background-color: $color-gray-100;
        border-radius: 100%;
        transition: $transition;
    }

    &-active::before {
        background-color: $color-blue-600;
    }

    & + & {
        margin-left: $base;
    }
}

.btns {
    display: inline-flex;

    .btn:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    border: 0;
}

// === / COMMON ===

// === NAVIGATION ===
.main-navigation {
    display: flex;
    align-items: center;

    &__inner-wrap {
        display: flex;
        flex-grow: 1;
        align-items: center;
        margin-left: $base*18;

        .section-header & {
            @media (max-width: $breakpoint-md-max) {
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                z-index: 7;
                display: none;
                padding: $base*5;
                margin-left: 0;
                background-color: $color-white;
            }
        }

        @media (max-width: $breakpoint-md-max) {
            flex-direction: column;

            .nav,
            .socials {
                margin-bottom: $base*5;
            }

            &,
            .socials,
            .btn-wrapper {
                margin-left: 0;
            }
        }
    }

    @media (max-width: $breakpoint-md-max) {
        .section-footer & {
            flex-direction: column;

            .logo {
                margin-bottom: $base*5;
            }
        }
    }
}

.socials {
    margin-left: auto;
}

.socials-wrapper {
    display: flex;

    @include list-null;

    align-items: center;

    &__item {
        & + & {
            margin-left: $base * 10;
        }

        &-link {
            path {
                fill: $color-gray-800;
                transition: $transition;
            }

            &:hover {
                path {
                    fill: $color-blue-400;
                }
            }
        }
    }
}

// === / NAVIGATION ===

// === HEADER ===
.section-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: $color-white;

    &::before {
        position: absolute;
        top: 100%;
        left: 0;
        display: none;
        width: 100vw;
        height: 100vh;
        content: '';
        background-color: rgba(0, 0, 0, .5);
    }

    &__active-nav {
        &::before {
            display: block;
        }

        #main-navigation__inner-wrap {
            display: flex;
        }
    }
}

.btn-burger {
    display: none;
    margin-left: auto;

    &__line {
        display: block;
        width: $base*4;
        height: $base/2;
        background-color: $color-divider;

        & + & {
            margin-top: $base;
        }
    }

    @media (max-width: $breakpoint-md-max) {
        display: block;
    }
}

.logo {
    &__link {
        display: block;
        width: $base * 6;
        height: $base * 6;
        background-color: $color-blue-400;
        border-radius: 100%;
    }
}

.nav-wrapper {
    display: flex;

    @include list-null;

    &__item {
        & + & {
            margin-left: $base * 10;

            @media (max-width: $breakpoint-xs-max) {
                margin-left: 0;
            }
        }

        &-link {
            @include quicksand;

            font-size: $fs-sm;
            font-weight: $fw-medium;
            color: $color-gray-800;
            text-decoration: none;
            transition: $transition;

            &:hover {
                color: $color-blue-400;
            }

            &__active {
                font-weight: $fw-bold;
                color: $color-blue-400;
            }
        }
    }

    @media (max-width: $breakpoint-xs-max) {
        flex-direction: column;
        align-items: center;
    }
}

// === / HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
    position: relative;
    padding: 0;
    overflow: hidden;

    .dots {
        position: absolute;
        bottom: $base*7;
        left: 50%;
        cursor: pointer;
        transform: translateX(-50%);
    }
}

.slider-hero-image {
    @include list-null;

    display: flex;
    height: $base*140;

    &__item {
        min-width: 100%;
        height: $base * 140;
        text-align: center;
        background-image: url(../upload/hero-image-background-1.png);
        background-repeat: no-repeat;
        background-position: 50% 100%;
        background-size: cover;

        &-content {
            .section-subtitle {
                margin-bottom: $base*7;
                font-size: $fs-xxl;
            }

            .text {
                width: 55%;
                margin: 0 auto $base*5;
                line-height: 2;
            }
        }
    }
}

.icon-play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: $base*13;
    height: $base*13;
    background-color: $color-white;
    border-radius: 100%;
    box-shadow: 0 $base*2 $base*12 rgba(201, 209, 231, .6);

    svg {
        width: $base*3;
        height: $base*3;
    }
}

// === / HERO-IMAGE ===

// === CUSTOMERS ===
.section-customers {
    .section-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            opacity: .3;
            transition: $transition;

            &:hover {
                opacity: 1;
            }
        }

        @media (max-width: $breakpoint-sm-max) {
            flex-wrap: wrap;
            justify-content: center;

            a {
                flex-basis: 32%;
                margin-top: $base*3;
                margin-bottom: $base*3;
                text-align: center;
            }
        }

        @media (max-width: $breakpoint-xs-max) {
            a {
                flex-basis: 45%;
            }
        }
    }
}

// === / CUSTOMERS ===

// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
    position: relative;
    overflow: hidden;
    background-color: $color-gray-50;

    &__content {
        width: 60%;

        .aside-image {
            position: absolute;
            top: 20%;
            left: 50%;

            @media (max-width: $breakpoint-md-max) {
                top: 0;
            }
        }

        .section-subtitle {
            margin-bottom: $base*7;
            font-size: $fs-xl;
        }

        .text {
            margin-bottom: $base*12;
            line-height: 2;
        }

        .btns {
            svg {
                margin-left: $base;
            }
        }

        @media (min-width: $breakpoint-lg-min) {
            width: 45%;
        }

        @media (max-width: $breakpoint-xs-max) {
            width: 70%;
        }
    }
}

// === / PLAN-AND-MANAGE ===

// === FEATURES ===
.section-features {
    background: url(../img/bg-about-us-clouds.svg) no-repeat 50% 50%;

    .section-subtitle {
        margin-bottom: $base*23;
        font-size: $fs-xlg;

        @media (max-width: $breakpoint-xs-max) {
            margin-bottom: $base*10;
        }
    }

    .btns {
        display: flex;
        justify-content: center;
    }
}

.features-list {
    display: flex;
    padding: 0;
    margin: 0 0 $base*32;
    list-style: none;

    &__item {
        $margin-left: $base*10;
        $divider-width: $base*7;

        position: relative;
        flex-basis: 25%;

        & + & {
            margin-left: $margin-left;

            &::before {
                position: absolute;
                top: $base*31;
                left: - $divider-width - ($margin-left - $divider-width)/2;
                width: $divider-width;
                height: 1px;
                content: '';
                background-color: $color-gray-100;
            }

            @media (max-width: $breakpoint-xs-max) {
                margin-bottom: $base*10;
                margin-left: 0;

                &::before {
                    display: none;
                }
            }
        }

        &-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $base*17;
            height: $base*17;
            margin: 0 auto $base*8;
            background-color: $color-blue-50;
            border-radius: 100%;
        }

        &-title {
            margin-bottom: $base*6;
            font-size: $fs-md;
            font-weight: $fw-bold;
            color: $color-blue-800;
        }

        &-text {
            padding: 0 $base*7;
            font-size: $fs-sm;
            font-weight: $fw-light;
            line-height: 2;
            opacity: .8;
        }

        @media (max-width: $breakpoint-sm-max) {
            flex-basis: 40%;

            &-text {
                padding: 0;
            }

            &-icon {
                margin-bottom: $base*4;
            }

            &-title {
                margin-bottom: $base*3;
            }
        }
    }

    @media (max-width: $breakpoint-md-max) {
        margin-bottom: $base*15;
    }

    @media (max-width: $breakpoint-xs-max) {
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: $base*5;
    }
}

.or-block {
    display: inline-flex;
    align-items: center;
    font-size: $fs-sm;
    font-weight: $fw-medium;

    &::before,
    &::after {
        display: block;
        width: $base*4;
        height: 1px;
        margin: 0 $base*4;
        content: '';
        background-color: $color-gray-100;
    }
}

// === / FEATURES ===

// === STATS ===
.section-stats {
    @include quicksand;

    display: flex;
    padding: 0;
    background-color: $color-blue-50;

    &__icon {
        margin-bottom: $base*6;
    }

    &__number {
        margin-bottom: $base*5;
        font-size: $fs-xxl;
    }

    &__text {
        font-size: $fs-lg;
        font-weight: $fw-medium;
        line-height: 1.5;

        @media (min-width: $breakpoint-lg-min) {
            width: 40%;
        }
    }

    &__left,
    &__right {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        padding: $base*16 $base*22;
    }

    &__left {
        display: flex;
        align-items: flex-end;
        color: $color-blue-50;
        text-align: right;
        background-color: $color-blue-300;
    }

    &__right {
        color: $color-blue-300;
    }

    @media (max-width: $breakpoint-xs-max) {
        &__left,
        &__right {
            padding: $base*8 $base*11;
        }
    }

    @media (max-width: $breakpoint-xs-max) {
        &__number {
            font-size: $fs-xl;
        }

        &__text {
            font-size: $fs-md;
        }
    }
}

// === / STATS ===

// === BLOG ===
.section-blog {
    background-color: $color-gray-50;

    .section-subtitle {
        margin-bottom: $base*23;
        font-size: $fs-xlg;

        @media (max-width: $breakpoint-md-max) {
            margin-bottom: $base*11;
        }
    }
}

.slider-blog {
    position: relative;
}

.slider-blog-container {
    position: relative;
    margin-bottom: $base*25;
    overflow: hidden;
    background-color: $color-white;
    border: 1px solid $color-divider;
    box-shadow: 0 $base*4 $base*12 $color-blue-50;

    @media (max-width: $breakpoint-md-max) {
        margin-bottom: $base*11;
    }

    @media (max-width: $breakpoint-xs-max) {
        .btn {
            padding: $base*2;
        }
    }
}

.slider-blog-wrapper {
    @include list-null;

    display: flex;

    &__item {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        min-width: 100%;
        padding: $base*15 $base*9;

        &-images {
            display: grid;
            grid-template-rows: repeat(2, $base*30);
            grid-template-columns: repeat(3, $base*30);
            grid-gap: $base*4;
            width: 100%;

            .image-link {
                position: relative;
                display: block;
                overflow: hidden;
                border-radius: $base;
                box-shadow: 0 $base*4 $base*25 $color-blue-50;

                .loupe {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: $base*16;
                    height: $base*16;
                    background: $color-white url(../img/loupe.svg) no-repeat 50% 50%;
                    border-radius: 100%;
                    opacity: 0;
                    transition: $transition;
                    transform: translate(-50%, -50%);
                }

                &:hover {
                    .loupe {
                        opacity: 1;
                    }
                }

                &::before {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    content: '';
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                &__lg {
                    grid-row: 1/3;
                    grid-column: 1/3;

                    &::before {
                        background: linear-gradient(transparent, rgba($color-yellow-500, .44));
                    }
                }

                &__sm-1 {
                    grid-row: 1/2;
                    grid-column: 3/4;

                    &::before {
                        background: linear-gradient(transparent, rgba($color-red-500, .48));
                    }
                }

                &__sm-2 {
                    grid-row: 2/3;
                    grid-column: 3/4;

                    &::before {
                        background: linear-gradient(transparent, rgba($color-cian-500, .68));
                    }
                }

                @media (max-width: $breakpoint-sm-max) {
                    &__lg {
                        grid-row: 1/2;
                        grid-column: 1/2;
                    }

                    &__sm-1 {
                        grid-row: 1/2;
                        grid-column: 2/3;
                    }

                    &__sm-2 {
                        grid-row: 1/2;
                        grid-column: 3/4;
                    }
                }

                @media (max-width: $breakpoint-xs-max) {
                    &__lg {
                        grid-row: 1/3;
                        grid-column: 1/3;
                    }

                    &__sm-1 {
                        grid-row: 1/2;
                        grid-column: 3/4;
                    }

                    &__sm-2 {
                        grid-row: 2/3;
                        grid-column: 3/4;
                    }
                }
            }

            @media (max-width: $breakpoint-md-max) {
                grid-template-rows: repeat(2, $base*25);
                grid-template-columns: repeat(3, $base*25);
            }

            @media (max-width: $breakpoint-sm-max) {
                grid-template-rows: repeat(1, 1fr);
                grid-template-columns: repeat(3, 1fr);
            }
        }

        &-content {
            flex-grow: 1;
            margin-left: $base*5;

            h3 {
                margin-bottom: $base*8;
                font-size: $fs-xl;
                font-weight: $fw-regular;
                color: $color-blue-900;
            }

            .text {
                margin-bottom: $base*12;
                font-size: $fs-ms;
                line-height: 171%;
            }
        }

        @media (max-width: $breakpoint-sm-max) {
            flex-direction: column;
            padding: $base*7;

            &-content {
                z-index: 7;
                margin-top: $base*5;
                margin-left: 0;
                text-align: center;

                h3,
                .text {
                    margin-bottom: $base*4;
                }
            }
        }
    }
}

.btn-blog {
    position: absolute;
    top: 50%;
    display: block;
    width: $base*10;
    height: $base*10;
    background: url(../img/icon-blog-arrow.svg) no-repeat 50% 50%;

    &--prev {
        right: 100%;
        margin-right: $base*20;
        transform: translateY(-50%);
    }

    &--next {
        left: 100%;
        margin-left: $base*20;
        transform: translateY(-50%) rotate(180deg);
    }

    @media (max-width: $breakpoint-lg-max) {
        display: none;
    }
}

// === / BLOG ===

// === QUOTES ===
.section-quotes {
    overflow: hidden;
    background: linear-gradient($color-blue-50, $color-gray-50);

    .section-inner {
        display: flex;
        justify-content: space-between;

        @media (max-width: $breakpoint-md-max) {
            flex-direction: column;
        }
    }

    &__left,
    &__right {
        min-width: 45%;

        @media (max-width: $breakpoint-md-max) {
            width: 100%;
        }
    }

    &__left {
        .section-subtitle {
            margin-bottom: $base*5;
            font-size: $fs-xl;
            color: $color-blue-900;
        }

        .text {
            width: 70%;
            font-size: $fs-sm;
            font-weight: $fw-bold;
            line-height: 2;
            color: $color-gray-200;
        }
    }

    @media (max-width: $breakpoint-sm-max) {
        .section-inner {
            flex-direction: column;
        }

        &__left {
            z-index: 7;
            margin-bottom: $base*5;
            text-align: center;

            .text {
                width: 100%;
            }
        }
    }
}

.slider-quotes-container {
    width: calc(50vw + 48px);
    margin: -$base*10 0 $base*20 -$base*10;
    overflow: hidden;

    @media (max-width: $breakpoint-sm-max) {
        width: 80vw;
    }

    @media (max-width: $breakpoint-md-max) {
        width: 100vw;
        margin-top: 0;
        margin-right: -$base*5;
        margin-left: -$base*5;
    }
}

.slider-quotes {
    @include list-null;

    display: flex;

    &__item {
        min-width: 25vw;
        padding: $base*10;
        opacity: .45;
        transition: opacity $transition;

        @media (max-width: $breakpoint-sm-max) {
            min-width: 90%;
            padding: $base*10 $base*12 $base*13;
        }

        @media (max-width: $breakpoint-md-max) {
            min-width: 50vw;
        }

        &.swiper-slide-active {
            opacity: 1;
        }
    }
}

.slider-quotes__item-content {
    position: relative;
    padding: $base*10 $base*18 $base*13;
    background-color: $color-white;
    border: 1px solid $color-divider;
    box-shadow: 0 $base $base*12 $color-gray-100;

    &__text {
        font-size: $fs-md;
        line-height: 2;
        color: $color-gray-800;
    }

    &__photo {
        position: absolute;
        top: 100%;
        left: 50%;
        width: $base*16;
        height: $base*16;
        overflow: hidden;
        background-color: $color-white;
        border-radius: 100%;
        transform: translate(-50%, -$base*8);
    }
}

// === / QUOTES ===

// === FAQ ===
.section-faq {
    .section-subtitle {
        margin-bottom: $base*17;
        font-size: $fs-xlg;
    }
}

.faq-accordion {
    @include list-null;

    &__item {
        margin-bottom: $base*4;
        $parent: &;

        border-bottom: 1px solid $color-divider;

        &__active {
            #{$parent}-trigger {
                font-weight: $fw-bold;
                color: $color-gray-800;

                &-icon {
                    transform: rotate(0);

                    .arrow {
                        stroke: $color-gray-800;
                    }
                }
            }

            #{$parent}-content {
                display: flex;
            }
        }

        &-trigger {
            display: flex;
            padding: $base*4;
            cursor: pointer;

            &-icon {
                width: $base*4;
                margin-right: $base*4;
                text-align: center;
                transform: rotate(180deg);

                .arrow {
                    stroke: $color-gray-400;
                }
            }

            &-text {
                font-size: $fs-md;
            }
        }

        &-content {
            display: none;
            padding: 0 $base*4 $base*4 $base*12;

            &-text {
                flex-grow: 1;
                font-size: $fs-sm;
                line-height: 2;
            }

            &-button {
                margin-left: $base*15;
            }

            @media (max-width: $breakpoint-xs-max) {
                flex-direction: column;

                &-text {
                    margin-bottom: $base*3;
                }

                &-button {
                    margin-left: 0;
                }
            }
        }
    }
}

// === / FAQ ===

// === GET-STARTED ===
.section-get-started {
    position: relative;
    color: $color-white;
    text-align: center;
    background: linear-gradient($color-blue-100, $color-blue-300);

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        content: '';
        background: url(../img/bg-get-started.svg) no-repeat 50% 50%;
    }

    h2,
    .section-subtitle {
        color: $color-white;
    }

    .section-subtitle {
        margin-bottom: $base*7;
        font-size: $fs-xxl;
    }

    .section-inner {
        position: relative;
        z-index: 7;
    }

    .text {
        margin: 0 auto $base*5;
        margin-bottom: $base*10;
        font-size: $fs-ms;
        line-height: 2;
        letter-spacing: .03em;

        @media (min-width: $breakpoint-sm-min) {
            max-width: 70%;
        }
    }
}

// === / GET-STARTED ===

// === NEWSLETTER ===
.section-newsletter {
    background-color: $color-gray-50;

    .section-inner {
        display: flex;
        justify-content: space-between;

        @media (max-width: $breakpoint-md-max) {
            flex-direction: column;
        }
    }

    &__left {
        flex-basis: 35%;

        @media (max-width: $breakpoint-md-max) {
            margin-bottom: $base*5;
        }

        &-title {
            @include quicksand;

            margin-bottom: $base*5;
            font-size: $fs-lg;
            font-weight: $fw-bold;
            color: $color-blue-900;
            text-transform: none;
            letter-spacing: 0;
        }

        &-text {
            font-size: $fs-md;
            line-height: 2;
        }
    }

    &__right {
        flex-basis: 55%;
    }
}

.form-newsletter {
    display: flex;

    .input {
        flex-grow: 1;
    }

    @media (max-width: $breakpoint-xs-max) {
        .btn {
            padding: $base*2;
        }

        .input {
            padding: $base*2;
        }
    }
}

// === / NEWSLETTER ===

// === FOOTER ===
.section-footer {
    border-bottom: 0;

    @media (max-width: $breakpoint-xs-max) {}
}

.copyright {
    @include quicksand;

    margin-top: $base*7;
    margin-left: $base*24;
    font-size: $fs-sm;
    font-weight: $fw-medium;
    color: $color-gray-200;

    @media (max-width: $breakpoint-md-max) {
        margin-left: 0;
        text-align: center;
    }
}
// === / FOOTER ===
