@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
body {
  font-family: 'Roboto', sans-serif;
  color: #8d96bd; }

.section-outer {
  border-bottom: 1px solid #c7d3ff; }

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 120px; }
  .section-inner--wide {
    max-width: 1200px; }

.input {
  padding: 12px 16px;
  color: #7a85ad;
  border: 1px solid transparent;
  background: #e9efff;
  border-radius: 2px;
  font-size: 12px; }
  .input--size-lg {
    padding: 20px 60px 20px 20px;
    border-radius: 4px; }

.btn {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 12px 16px;
  white-space: nowrap;
  margin: 0;
  border: 0;
  background: none;
  border-radius: 2px;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer; }
  .btn--size-lg {
    padding: 20px 60px;
    border-radius: 4px; }
  .btn--primary {
    color: #3a79ff;
    background-color: #c7d3ff; }
    .btn--primary:hover {
      background-color: #aebfff;
      color: #2168ff; }
    .btn--primary-inverted {
      background-color: #ffffff;
      color: #3a79ff; }
      .btn--primary-inverted:hover {
        background-color: #f2f2f2;
        color: #2168ff; }
  .btn--secondary {
    background-color: #4c85ff;
    color: #ffffff; }
    .btn--secondary:hover {
      background-color: #3374ff;
      color: #f2f2f2; }
  .btn--no-bg {
    color: #adb4d2;
    border: 1px solid #c7d3ff; }
    .btn--no-bg:hover {
      color: #8c96c0;
      border: 1px solid #94abff; }
  .btn--red {
    background-color: #ffd7d7;
    color: #d43f3f; }
    .btn--red:hover {
      background-color: #ffbebe;
      color: #cc2e2e; }
  .btn--dead {
    background-color: #f5f8ff;
    color: #7382a3; }
    .btn--dead:hover {
      background-color: #dce6ff;
      color: #647498; }

.btn-wrapper {
  margin-left: 44px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: #3d4f9f; }
  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span {
    font-weight: 500; }

h2 {
  font-size: 48px;
  margin-bottom: 28px;
  font-weight: 300; }

h3 {
  font-size: 36px;
  margin-bottom: 28px; }

h4 {
  font-size: 24px;
  margin-bottom: 92px; }

h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  margin-bottom: 16px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.ta-c {
  text-align: center; }

.dots {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center; }
  .dots__item {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #aeb8d0;
    transition: 0.2s; }
    .dots__item-active {
      background-color: #5e81fe; }
    .dots__item + .dots__item {
      margin-left: 12px; }

.btns {
  display: inline-flex; }
  .btns .btn:nth-child(1) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }
  .btns .btn:nth-child(2) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.section-header .section-inner {
  padding-top: 20px;
  padding-bottom: 20px; }

.main-navigation {
  display: flex;
  align-items: center; }

.logo__link {
  display: block;
  margin-right: 72px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: #5e81fe; }

.nav-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none; }
  .nav-wrapper__item + .nav-wrapper__item {
    margin-left: 40px; }
  .nav-wrapper__item-link {
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: #676f95;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s; }
    .nav-wrapper__item-link:hover {
      color: #5e81fe; }
    .nav-wrapper__item-link--active {
      font-weight: 700;
      color: #5e81fe; }

.socials {
  margin-left: auto; }

.socials-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center; }
  .socials-wrapper__item + .socials-wrapper__item {
    margin-left: 40px; }
  .socials-wrapper__item-link path {
    fill: #676f95;
    transition: 0.2s; }
  .socials-wrapper__item-link:hover path {
    fill: #5e81fe; }

.section-hero-image {
  position: relative; }
  .section-hero-image .dots {
    position: absolute;
    bottom: 28px;
    cursor: pointer;
    left: 50%;
    transform: translateX(-50%); }

.slider-hero-image {
  padding: 0;
  margin: 0;
  list-style: none; }
  .slider-hero-image__item {
    height: 568px;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 100%; }
    .slider-hero-image__item-content h2 {
      font-weight: 300; }
    .slider-hero-image__item-content span {
      font-weight: 500; }
    .slider-hero-image__item-content .text {
      width: 55%;
      margin: 0 auto 20px;
      line-height: 2; }

.icon-play {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  width: 52px;
  border-radius: 100%;
  background-color: #ffffff;
  box-shadow: 0px 8px 48px rgba(201, 209, 231, 0.6); }
  .icon-play svg {
    width: 12px;
    height: 12px; }

.section-customers .section-inner {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .section-customers .section-inner a {
    opacity: .3;
    transition: 0.2s; }
    .section-customers .section-inner a:hover {
      opacity: 1; }

.section-plan-and-manage {
  background-color: #f5f8ff;
  position: relative; }
  .section-plan-and-manage__content {
    width: 45%;
    margin-bottom: 108px;
    margin-top: 108px; }
    .section-plan-and-manage__content .aside-image {
      position: absolute;
      top: 20%;
      left: 45%; }
    .section-plan-and-manage__content h3 {
      font-weight: 300; }
    .section-plan-and-manage__content span {
      font-weight: 500; }
    .section-plan-and-manage__content .text {
      line-height: 2;
      margin-bottom: 48px; }
    .section-plan-and-manage__content .btns svg {
      margin-left: 4px; }

.section-features {
  background: url(../images/bg-about-us-clouds.svg) no-repeat 50% 50%; }
  .section-features h4 {
    font-weight: 500; }
  .section-features .btns {
    display: flex;
    justify-content: center; }

.features-list {
  display: flex;
  margin: 0 0 216px;
  padding: 0;
  list-style: none; }
  .features-list__item {
    position: relative;
    flex-basis: 25%; }
    .features-list__item:not(:first-child) {
      margin-left: 40px; }
    .features-list__item:not(:first-child)::before {
      position: absolute;
      top: 124px;
      left: -34px;
      width: 28px;
      height: 1px;
      content: '';
      background-color: #c7d3ff; }
    .features-list__item-icon {
      display: flex;
      margin: 0 auto 32px;
      justify-content: center;
      align-items: center;
      width: 68px;
      height: 68px;
      border-radius: 100%;
      background-color: #e9efff; }
    .features-list__item-title {
      color: #4074f8;
      font-weight: 700;
      font-size: 15px;
      margin-bottom: 24px; }
    .features-list__item-text {
      line-height: 2;
      font-size: 12px;
      font-weight: 300;
      opacity: .8;
      position: absolute;
      max-width: 70%;
      left: 15%; }

.or-block {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px; }
  .or-block::before, .or-block::after {
    content: '';
    display: block;
    width: 16px;
    height: 1px;
    background-color: #c7d3ff;
    margin: 0 16px; }

.section-stats {
  background-color: #e9efff;
  display: flex;
  font-family: 'Quicksand', sans-serif; }
  .section-stats__icon {
    margin-bottom: 24px; }
  .section-stats__number {
    font-size: 48px;
    margin-bottom: 20px; }
  .section-stats__text {
    font-size: 18px;
    font-weight: 500;
    width: 30%;
    line-height: 1.5; }
  .section-stats__left, .section-stats__right {
    display: flex;
    flex-basis: 50%;
    flex-direction: column;
    padding: 64px 88px; }
  .section-stats__left {
    background-color: #5e80ff;
    display: flex;
    text-align: right;
    color: #e9efff;
    align-items: flex-end; }
  .section-stats__right {
    color: #5e80ff; }

.section-blog {
  background-color: #f5f8ff; }

.slider-wrapper {
  margin-bottom: 100px;
  position: relative; }

.slider-blog {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 1px solid #c7d3ff;
  background-color: #ffffff;
  box-shadow: 0px 16px 48px #e9efff; }
  .slider-blog__item {
    padding: 60px 36px;
    display: flex; }
    .slider-blog__item-images, .slider-blog__item-content {
      flex-basis: 45%; }
    .slider-blog__item-images {
      display: grid;
      grid-template-rows: repeat(2, 120px);
      grid-template-columns: repeat(3, 120px);
      grid-gap: 12px; }
      .slider-blog__item-images .image-link {
        display: block;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        box-shadow: 0px 16px 100px #e9efff; }
        .slider-blog__item-images .image-link:hover .loupe {
          opacity: 1; }
        .slider-blog__item-images .image-link::before {
          content: '';
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute; }
        .slider-blog__item-images .image-link .loupe {
          position: absolute;
          opacity: 0;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 64px;
          height: 64px;
          border-radius: 100%;
          background: #ffffff url(../images/loupe.svg) no-repeat 50% 50%;
          transition: 0.2s; }
        .slider-blog__item-images .image-link img {
          width: 100%;
          height: 100%;
          object-fit: contain; }
        .slider-blog__item-images .image-link__lg {
          grid-row: 1/3;
          grid-column: 1/3; }
          .slider-blog__item-images .image-link__lg::before {
            background: linear-gradient(transparent, rgba(255, 199, 53, 0.44)); }
        .slider-blog__item-images .image-link__sm-1 {
          grid-row: 1/2;
          grid-column: 3/4; }
          .slider-blog__item-images .image-link__sm-1::before {
            background: linear-gradient(transparent, rgba(255, 53, 53, 0.48)); }
        .slider-blog__item-images .image-link__sm-2 {
          grid-row: 2/3;
          grid-column: 3/4; }
          .slider-blog__item-images .image-link__sm-2::before {
            background: linear-gradient(transparent, rgba(53, 170, 255, 0.68)); }
    .slider-blog__item-content {
      margin-left: 10%; }
      .slider-blog__item-content .text {
        line-height: 171%;
        font-size: 15px;
        margin-bottom: 36px; }

.btn-blog {
  position: absolute;
  top: 50%;
  display: block;
  width: 40px;
  height: 40px;
  background: url(../images/icon-blog-arrow.svg) no-repeat 50% 50%; }
  .btn-blog--prev {
    right: 100%;
    margin-right: 80px;
    transform: translateY(-50%); }
  .btn-blog--next {
    margin-left: 80px;
    left: 100%;
    transform: translateY(-50%) rotate(180deg); }

.section-quotes {
  background: linear-gradient(#e9efff, #f5f8ff); }
  .section-quotes .section-inner {
    display: flex;
    justify-content: space-between; }
  .section-quotes__left, .section-quotes__right {
    flex-basis: 45%; }
  .section-quotes__left .text {
    line-height: 2; }
  .section-quotes__right {
    margin-left: 10%; }

.slider-quotes {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 80px; }
  .slider-quotes__item {
    border: 1px solid #c7d3ff;
    background-color: #ffffff;
    padding: 40px 72px 52px;
    position: relative;
    box-shadow: 0 4px 48px #e9efff; }
    .slider-quotes__item-text {
      line-height: 2;
      font-size: 15px;
      color: #676f95; }
    .slider-quotes__item-photo {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      width: 64px;
      height: 64px;
      border-radius: 100%;
      overflow: hidden;
      background-color: #ffffff;
      margin-top: -32px; }

.faq-accordion {
  padding: 0;
  margin: 0;
  list-style: none; }
  .faq-accordion__item {
    margin-bottom: 16px;
    border-bottom: 1px solid #c7d3ff; }
    .faq-accordion__item--active .faq-accordion__item-trigger {
      color: #676f95;
      font-weight: 700; }
      .faq-accordion__item--active .faq-accordion__item-trigger-icon {
        transform: rotate(0); }
        .faq-accordion__item--active .faq-accordion__item-trigger-icon .arrow {
          stroke: #676f95; }
    .faq-accordion__item--active .faq-accordion__item-content {
      display: flex; }
    .faq-accordion__item-trigger {
      display: flex;
      cursor: pointer;
      padding: 16px; }
      .faq-accordion__item-trigger-icon {
        width: 16px;
        text-align: center;
        margin-right: 16px;
        transform: rotate(180deg); }
        .faq-accordion__item-trigger-icon .arrow {
          stroke: #8e96b7; }
      .faq-accordion__item-trigger-text {
        font-size: 15px; }
    .faq-accordion__item-content {
      display: none;
      padding: 0 16px 16px 48px; }
      .faq-accordion__item-content-text {
        flex-grow: 1;
        line-height: 2;
        font-size: 12px; }
      .faq-accordion__item-content-button {
        margin-left: 60px; }
        .faq-accordion__item-content-button .btn {
          display: inline-block; }

.section-get-started {
  position: relative;
  text-align: center;
  color: #ffffff;
  background: linear-gradient(#6888ff, #5e80ff); }
  .section-get-started::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(../images/bg-get-started.svg) no-repeat 50% 50%;
    z-index: 5; }
  .section-get-started h2,
  .section-get-started h5 {
    color: #ffffff; }
  .section-get-started .section-inner {
    z-index: 10;
    position: relative; }
  .section-get-started .text {
    line-height: 2;
    max-width: 70%;
    margin: 0 auto 20px;
    margin-bottom: 40px; }

.section-newsletter {
  background-color: #f5f8ff; }
  .section-newsletter .section-inner {
    display: flex;
    justify-content: space-between; }
  .section-newsletter__left {
    flex-basis: 35%; }
    .section-newsletter__left-title {
      font-family: 'Quicksand', sans-serif;
      color: #3d4f9f;
      font-weight: 700;
      margin-bottom: 20px;
      font-size: 18px; }
    .section-newsletter__left-text {
      line-height: 2;
      font-size: 15px; }
  .section-newsletter__right {
    flex-basis: 55%; }

.form-newsletter {
  display: flex; }
  .form-newsletter .input {
    flex-grow: 1; }
  .form-newsletter .btn {
    margin-left: 16px; }

.section-footer {
  border-bottom: 0; }
  .section-footer .section-inner {
    padding-top: 60px;
    padding-bottom: 60px; }

.copyright {
  font-family: 'Quicksand', sans-serif;
  margin-left: 96px;
  margin-top: 28px;
  color: #aeb8d0;
  font-size: 12px;
  font-weight: 500; }
