@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

// === MIXIN ===
@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

@mixin quicksand {
    font-family: 'Quicksand', sans-serif;
}

@mixin list-null {
    padding: 0;
    margin: 0;
    list-style: none;
}

// === / MIXIN ===

// === VARIABLES ===

$base: 4px;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;

$fs-sm: 12px;
$fs-md: 15px;
$fs-lg: 18px;
$fs-xl: 48px;

$pading-vertical-xs: $base * 5;
$pading-vertical-sm: $base * 15;
$pading-vertical: $base * 30;

$color-divider: #D8E3FE;
$color-primary: #697ca7;
$color-secondary: #5E81FE;
$color-header: #3d4f9f;

$transition: .2s;

// === / VARIABLES ===

// === COMMON ===
body {
    @include roboto;
    color: #8d96bd;
}

.section-outer {
    border-bottom: 1px solid $color-divider;
}

.section-inner {
    max-width: 900px;
    margin: 0 auto;
    padding-top: $pading-vertical;
    padding-bottom: $pading-vertical;

    &--wide {
        max-width: 1200px;
    }
}

.btn {
    @include quicksand;

    font-weight: $fw-bold;
    font-size: $fs-sm;
    padding: $base*3 $base*4;
    white-space: nowrap;
    margin: 0;
    border: 0;
    background: none;
    border-radius: 2px;
    text-decoration: none;
    transition: $transition;

    &--primary {
        background-color: #d2e1ff;
        color: #3A79FF;

        &:hover {
            background-color: darken(#d2e1ff, 5%);
            color: darken(#3A79FF, 5%);
        }

        &-inverted {
            background-color: #fff;
            color: #3A79FF;

            &:hover {
                background-color: darken(#fff, 5%);
                color: darken(#3A79FF, 5%);
            }
        }
    }

    &--secondary {
        background-color: #4C85FF;
        color: #fff;

        &:hover {
            background-color: darken(#4C85FF, 5%);
            color: darken(#fff, 5%);
        }
    }

    &--no-bg {
        border: 1px solid #D1D1E4;
        color: #ADB4D2;

        &:hover {
            border-color: darken(#D1D1E4, 10%);
            color: darken(#ADB4D2, 10%);
        }
    }

    &--red {
        background-color: #FFD7D7;
        color: #D43F3F;

        &:hover {
            background-color: darken(#FFD7D7, 5%);
            color: darken(#D43F3F, 5%);
        }
    }

    &--dead {
        background-color: #E8ECF4;
        color: #7382A3;

        &:hover {
            background-color: darken(#E8ECF4, 5%);
            color: darken(#7382A3, 5%);
        }
    }

}

.btn-wrapper {
    margin-left: $base*11;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include quicksand;
    padding: 0;
    margin: 0;
    font-weight: $fw-regular;
    color: $color-header;

    span {
        font-weight: $fw-medium;
    }
}

h1,
h2 {
    font-size: $fs-xl;
    margin-bottom: $base*7;
    font-weight: $fw-light;
}

h3 {
    font-size: $base*9;
    margin-bottom: $base*7;
}

h4 {
    font-size: $base*6;
    margin-bottom: $base*23;
}

h5 {
    @include roboto;
    font-size: 10px;
    margin-bottom: $base*4;
    font-weight: $fw-medium;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.ta-c {
    text-align: center;
}

.dots {
    display: flex;
    @include list-null;
    justify-content: center;

    &__item {
        width: $base*2;
        height: $base*2;
        border-radius: 100%;
        background-color: #d1d6e3;
        transition: $transition;

        &-active {
            background-color: $color-secondary;
        }

        &+& {
            margin-left: $base*3;
        }
    }
}

.btns {
    display: inline-flex;

    .btn:nth-child(1) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .btn:nth-child(2) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

// === / COMMON ===

// === HEADER ===
.section-header {
    .section-inner {
        padding-top: $pading-vertical-xs;
        padding-bottom: $pading-vertical-xs;

    }
}

.main-navigation {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: $base * 18;
    width: $base * 6;
    height: $base * 6;
    border-radius: 100%;
    background-color: $color-secondary;
}

.nav-wrapper {
    display: flex;
    @include list-null;

    &__item {
        &+& {
            margin-left: $base * 10;
        }

        &-link {
            @include quicksand;
            font-size: $fs-sm;
            color: $color-primary;
            text-decoration: none;
            font-weight: $fw-medium;
            transition: $transition;

            &:hover {
                color: $color-secondary;
            }

            &--active {
                font-weight: $fw-bold;
                color: $color-secondary;
            }

        }
    }
}

.socials {
    margin-left: auto;
}

.socials-wrapper {
    display: flex;
    @include list-null;

    align-items: center;

    &__item {
        &+& {
            margin-left: $base * 10;
        }


        &-link {
            path {
                fill: $color-primary;
                transition: $transition;
            }

            &:hover {
                path {
                    fill: $color-secondary;
                }
            }

        }
    }
}

// === / HEADER ===

// === HERO-IMAGE ===
.section-hero-image {
    background-color: #f4f7ff;
    position: relative;

    .dots {
        position: absolute;
        bottom: $base*7;
        cursor: pointer;
        left: 50%;
        transform: translateX(-50%);

    }
}

.slider-hero-image {
    @include list-null;

    &__item {
        height: $base * 142;
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 100%;

        &-content {
            h2 {
                font-weight: $fw-light;
            }

            span {
                font-weight: $fw-medium;
            }

            .text {
                width: 55%;
                margin: 0 auto $base*5;
                line-height: 2;

            }
        }
    }
}

.icon-play {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $base*13;
    width: $base*13;
    border-radius: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 50px rgba(201, 209, 231, 0.6);

    svg {
        width: $base*3;
        height: $base*3;
    }
}

// === / HERO-IMAGE ===

// === CUSTOMERS ===
.section-customers {
    .section-inner {
        padding-top: $pading-vertical-sm;
        padding-bottom: $pading-vertical-sm;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            opacity: .3;
            transition: $transition;

            &:hover {
                opacity: 1;
            }
        }

    }
}

// === / CUSTOMERS ===

// === PLAN-AND-MANAGE ===
.section-plan-and-manage {
    background-color: #F5F8FF;
    position: relative;


    &__content {
        width: 45%;
        margin-bottom: $base*27;
        margin-top: $base*27;

        .aside-image {
            position: absolute;
            top: 20%;
            left: 45%;
        }

        h3 {
            font-weight: $fw-light;
        }

        span {
            font-weight: $fw-medium;
        }

        .text {
            line-height: 2;
            margin-bottom: $base*12;
        }

        .btns {
            svg {
                margin-left: $base;
            }
        }
    }
}

// === / PLAN-AND-MANAGE ===

// === FEATURES ===
.section-features {
    background: url(../images/bg-about-us-clouds.svg) no-repeat 50% 50%;

    h4 {
        font-weight: $fw-medium;
    }

    .btns {
        display: flex;
        justify-content: center;
    }


}

.features-list {
    display: flex;
    margin: 0 0 $base*54;
    padding: 0;
    list-style: none;


    &__item {
        position: relative;
        flex-basis: 25%;

        &:not(:first-child) {
            margin-left: $base*10;
        }

        &:not(:first-child)::before {
            position: absolute;
            top: $base*31;
            left: -34px;
            content: '';
            height: 1px;
            width: 28px;
            background-color: #dae4fe;
        }

        &-icon {
            display: flex;
            margin: 0 auto $base*8;
            justify-content: center;
            align-items: center;
            width: $base*17;
            height: $base*17;
            border-radius: 100%;
            background-color: #f1f5ff;
        }

        &-title {
            color: #4074F8;
            font-weight: $fw-bold;
            font-size: $fs-md;
            margin-bottom: $base*6;
        }

        &-text {
            line-height: 2;
            font-size: $fs-sm;
            font-weight: $fw-light;
            opacity: .8;
            position: absolute;
            max-width: 70%;
            left: 15%;


        }
    }
}

.or-block {
    display: inline-flex;
    align-items: center;
    font-weight: $fw-medium;
    font-size: $fs-sm;

    &::before,
    &::after {
        content: '';
        display: block;
        width: $base*4;
        height: 1px;
        background-color: #dae4fe;
        margin: 0 $base*4;

    }
}

// === / FEATURES ===

// === STATS ===
.section-stats {
    background-color: #E9EFFF;
    display: flex;
    @include quicksand;

    &__icon {
        margin-bottom: $base*6;
    }

    &__number {
        font-size: $fs-xl;
        margin-bottom: $base*5;
    }

    &__text {
        font-size: $fs-lg;
        font-weight: $fw-medium;
        width: 30%;
        line-height: 1.5;
    }

    &__left,
    &__right {
        display: flex;
        flex-basis: 50%;
        flex-direction: column;
        padding: $base*16 $base*22;
    }

    &__left {
        background-color: #6888ff;
        text-align: right;
        color: #e9efff;
        align-items: flex-end;

    }

    &__right {
        background-color: #e9efff;
        color: #6888ff;

    }
}

// === / STATS ===

// === BLOG ===
.section-blog {
    background-color: #F5F8FF;
}

.slider-wrapper {
    margin-bottom: $base*25;
    position: relative
}

.slider-blog {
    @include list-null;
    border: 1px solid $color-divider;
    background-color: #fff;
    box-shadow: 0px 15px 50px #EFF4FF;

    &__item {
        padding: $base*15 $base*9;
        display: flex;

        &-images,
        &-content {
            flex-basis: 45%;
        }

        &-images {
            display: grid;
            grid-template-rows: repeat(2, 120px);
            grid-template-columns: repeat(3, 120px);
            grid-gap: 12px;

            .image-link {
                display: block;
                border-radius: 5px;
                position: relative;
                overflow: hidden;
                box-shadow: 0px 15px 100px #E5EBF8;

                &:hover {
                    .loupe {
                        opacity: 1;
                    }
                }


                &::before {
                    content: '';
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    position: absolute;

                }

                .loupe {
                    position: absolute;
                    opacity: 0;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: block;
                    width: $base*16;
                    height: $base*16;
                    border-radius: 100%;
                    background: #fff url(../images/loupe.svg) no-repeat 50% 50%;
                    transition: $transition;

                }



                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }

                &__lg {
                    grid-row: 1/3;
                    grid-column: 1/3;

                    &::before {
                        background: linear-gradient(transparent, rgba(#FFC735, .44));
                    }
                }

                &__sm-1 {
                    grid-row: 1/2;
                    grid-column: 3/4;

                    &::before {
                        background: linear-gradient(transparent, rgba(#FF3535, .48));
                    }
                }

                &__sm-2 {
                    grid-row: 2/3;
                    grid-column: 3/4;
                    ;

                    &::before {
                        background: linear-gradient(transparent, rgba(#35AAFF, .68));
                    }
                }

            }

        }

        &-content {
            margin-left: 10%;

            .text {
                line-height: 171%;
                font-size: 14px;
                margin-bottom: $base*9;
            }
        }
    }
}

.btn-blog {
    position: absolute;
    top: 50%;
    display: block;
    width: $base*10;
    height: $base*10;
    background: url(../images/icon-blog-arrow.svg) no-repeat 50% 50%;

    &--prev {
        right: 100%;
        margin-right: $base*20;
        transform: translateY(-50%);
    }

    &--next {
        margin-left: $base*20;
        left: 100%;
        transform: translateY(-50%) rotate(180deg);
    }
}

// === / BLOG ===

// === QUOTES ===
.section-quotes {
    background: linear-gradient(#eaf0ff, #f6f9ff);
    ;

    .section-inner {
        display: flex;
        justify-content: space-between;


    }

    &__left,
    &__right {
        flex-basis: 45%;
    }

    &__left {
        .text {
            line-height: 2;
        }
    }

    &__right {
        margin-left: 10%;
    }
}

.slider-quotes {
    @include list-null;

    margin-bottom: $base*20;

    &__item {
        border: 1px solid $color-divider;
        background-color: #fff;
        padding: $base*10 $base*18 $base*13;
        position: relative;
        box-shadow: 0 5px 50px #f3f5fa;

        &-text {
            line-height: 2;
            font-size: $fs-md;
            color: #676F95;

        }

        &-photo {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
            width: $base*16;
            height: $base*16;
            border-radius: 100%;
            overflow: hidden;
            background-color: #fff;
            margin-top: -$base*8;
        }
    }
}

// === / QUOTES ===

// === FAQ ===
.section-faq {}

.faq-accordion {
    @include list-null;

    &__item {
        margin-bottom: $base*4;
        $parent: &;

        border-bottom: 1px solid $color-divider;

        &--active {


            #{$parent}-trigger {
                color: #495274;
                font-weight: $fw-bold;

                &-icon {
                    transform: rotate(0);

                    .arrow {
                        stroke: #495274;
                    }
                }
            }

            #{$parent}-content {
                display: flex;
            }

        }

        &-trigger {
            display: flex;
            cursor: pointer;
            padding: $base*4;


            &-icon {
                width: $base*4;
                text-align: center;
                margin-right: $base*4;
                transform: rotate(180deg);

                .arrow {
                    stroke: #8e96b7;
                }
            }

            &-text {
                font-size: $fs-md;
            }
        }

        &-content {
            display: none;
            padding: 0 $base*4 $base*4 $base*12;

            &-text {
                flex-grow: 1;
                line-height: 2;
                font-size: $fs-sm;
            }

            &-button {
                margin-left: $base*15;

                .btn {
                    display: inline-block;
                }
            }
        }
    }
}

// === / FAQ ===

// === GET-STARTED ===
.section-get-started {
    position: relative;
    text-align: center;
    color: #fff;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: url(../images/bg-get-started.svg) no-repeat 50% 50%;
        z-index: 5;
    }

    h2,
    h5 {
        color: #fff;
    }

    .section-inner {
        z-index: 10;
        position: relative;
    }

    .text {
        line-height: 2;
        max-width: 70%;
        margin: 0 auto $base*5;
        margin-bottom: $base*10;
    }
}

// === / GET-STARTED ===

// === NEWSLETTER ===
.section-newsletter {
    background-color: #FCFDFF;
}

// === / NEWSLETTER ===

// === FOOTER ===
.section-footer {
    border-bottom: 0;

    .section-inner {
        padding-top: $pading-vertical-sm;
        padding-bottom: $pading-vertical-sm;
    }
}

.copyright {
    @include quicksand;

    margin-left: $base*24;
    margin-top: $base*7;
    color: #aeb8d0;
    font-size: $fs-sm;
    font-weight: $fw-medium;
}

// === / FOOTER ===